<div class="resultwrapper" id="<%=id%>">
	<div class="result <%= plugin%>">
		<!--<img src="">-->
		<div class="txt">
            <div class="txt-inner">
	    		<%= fields.description %> <%= fields.name %>
			    <%= fields.message %><%= fields.text %>
            </div>
		</div>
		<div class="time" title="<%= time %>"><%= time_text %></div>
	</div>
</div>
